@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
 }

body {
    color: rgb(33, 37, 42); 
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 95, 161);
    max-width: 2000px;
    background-image: var(--bs-gradient);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    max-width: 2000px;
    height: 130px;
}


html {
    scroll-padding-top: 180px;
}

hr {
    visibility: hidden;
}

h1, 
h2,
h3,
h4 {
    font-family: 'Noto Serif Oriya', serif;
}

nav li {
    margin-left: 5px;
}

.company {
    margin-top: 15px; 
}

span img { 
    width: 100px;
    height: 100px;
    margin: 5px 20px;
    outline: 2px solid #fff;
}

.section-headers {
    color:#fff;
    margin: 50px 0 30px 20px;
}

nav .active {
    text-decoration: underline;
}

.post-link,
.filter-link,
.page-info {
    margin: 10px 20px 20px;
}

.sign-in,
.error-pages {
    margin: 180px 60px 100px;
    padding: 30px;
    max-width: 700px;
}

.verse {
    margin: 100px 10px;
    width: 100px;
}

.hero {
    max-height: 600px;
    display: block;
    max-width: 600px;
}

.intro-text {
    padding: 60px 30px;
    margin-top: 250px;
    margin-bottom: 90px;
}

.fade-in {
    opacity: 0;
    transition: opacity 650ms ease-in;
}

.fade-in.scrolled {
    opacity: 1;
}

.what-is {
    margin-top: 30px;
    padding: 60px 30px;
}

.page-link.active {
    background-color:rgb(33, 37, 42);
}

.who,
.what {
    margin-top: 80px;
}

.who {
    margin-bottom: 30px;
}

.who a {
    margin-left: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.who a:hover {
    text-decoration: underline;
}

#balloon-img {
    max-width: 600px;
}

.user-sign {
    margin: 20px;
    font-size: 0.75rem;
}

.nav-link {
    color: black;
} 

.toggler-btn {
    width: 80px;
}

.nav-link:hover {
    color: rgb(135, 164, 173);
}

.article-box,
.what-do {
    margin: 20px 10px;
    max-width: 450px;
    left: 20px;
    padding: 20px;
}

.article-section,
.who-section {
    margin: 180px 0 75px 50px;
    padding: 30px;
    max-width: 1000px;
}

.who-section .card,
.location .card {
    width: 24rem;
    padding: 20px;
}

.post-dates {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.location {
    max-width: 1000px;
    padding: 30px;
    margin: 0 75px 75px 50px;
}

.comment-section {
    padding-top: 50px;
}

.comment-format,
.comment-form {
    max-width: 700px;
}

.comment-form {
    margin: 10px 10px 50px 50px;
    padding: 30px;
}

a.card-body {
    text-decoration: none;
}

label {
    padding: 5px;
}

.filtering {
    margin-bottom: 100px;
}

.filtering label {
    padding: 10px;
}

.submit-btn {
    margin-top: 10px;
}

.image-cards {
    max-width: 400px;
    padding: 10px;
    margin-left: 20px;
}

.image-cards img {
    max-height: 250px;
}

.gallery-section {
    margin-bottom: 100px;
}

footer {
    text-align: center;
    margin-top: auto;
    
}

.copyright,
.contact {
    margin: 20px auto;
    padding: 10px;
}

.contact i {
    color: #fff;
}

.contact i:hover {
    color: rgb(0, 95, 161);
}
