@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@500&family=Roboto:wght@300&display=swap');
/* Importing Noto Serify Oriya and Roboto fonts */

/* Resetting the margins and padding for the entire site */
* {
    margin: 0;
    padding: 0;
    border: none;
 }

 /* Setting the general style for the site */
body {
    color: rgb(33, 37, 42); 
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 95, 161);
    max-width: 2000px;
    background-image: var(--bs-gradient);
    font-size: 1rem;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation bar */
nav {
    max-width: 2000px;
    height: 140px;
}

/* Allow the page to scroll but the bar to remain put */
html {
    scroll-padding-top: 180px;
}

/* The horizontal rule */
hr {
    visibility: hidden;
}

/* Font for the headings */
h1, 
h2,
h3,
h4,
.image-cards h5 {
    font-family: 'Noto Serif Oriya', serif;
}

/* Styling for the individual nav links */
nav li {
    margin-left: 10px;
}

.nav-link:hover {
    color: rgb(135, 164, 173);
}

/* The toggle button for smaller screens */
.toggler-btn {
    width: 80px;
    margin-right: 50px;
}

/* Styling for the company name */
.company {
    margin-top: 15px; 
}

.logo strong {
    font-size: 0.8rem;
}

/* Styling for the header logo */
span img { 
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    outline: 2px solid #fff;
}

/* Styling for the section headers */
.section-headers {
    color:#fff;
    margin: 50px 0 20px;
}

/*  Nav links when page is active */
nav .active {
    text-decoration: underline;
}

/* Styling for links */
.post-link,
.filter-link,
.page-info {
    margin: 10px 20px 20px;
}

/* Styling for sign in/logout and error pages */
.sign-in,
.error-pages {
    margin: 180px 60px 100px;
    padding: 30px;
    max-width: 700px;
}

/* Styling for intro text */
.intro-text {
    padding: 60px 30px;
    margin-top: 250px;
    margin-bottom: 90px;
}

/* Styling for the verse section */
.verse {
    margin: 100px 10px;
    min-width: 24rem;
}

/* Styling for the verse text */
.verse-text {
    font-size: 2rem;
}

/* Hero image */
.hero {
    max-height: 600px;
    display: block;
    max-width: 600px;
}

/* Fade in effect for divs on scroll */
.fade-in {
    opacity: 0;
    transition: opacity 650ms ease-in;
}

.fade-in.scrolled {
    opacity: 1;
}

/* Ensuring they take up the page width */
.what-is,
.intro-text {
    position: relative;
    left: 0;
    right: 0;
}

/* Styling for what is section */
.what-is {
    padding: 60px 30px;
}

.what-is-text {
    min-width: 32rem;
}

.what-is-header {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Image in what is section */
#balloon-img {
    max-width: 600px;
}

.who,
.what {
    padding-bottom: 3rem;
}

/* Styling for who section with external links */
.who {
    margin-bottom: 30px;
}

.who a {
    margin-left: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.who a:hover {
    text-decoration: underline;
}

/* Styling for login, logout and signup pages */
.user-sign {
    margin: 20px;
    font-size: 0.75rem;
}

/* Styling for the message when users sign in or log out */
div .log-msg {
    padding-top: 10px;
}

/* Styling for article cards and what do cards */
.article-box {
    padding: 20px;
    width: 450px;
}

/* Heading of what is section */
.what-heading,
.who-header,
.press-header {
    text-align: center;
}

/* Styling for article detail and info page */
.article-section,
.who-section {
    margin: 180px 50px 75px;
    padding: 30px;
    max-width: 1300px;
}

.pagination {
    margin-top: 20px;
}

/* Styling for the dates */
.post-dates {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

/* Styling for pagination button for active page */
.page-link.active {
    text-decoration: underline;
    background-color:rgb(33, 37, 42);
    border-color: rgb(33, 37, 42);
}

.card-header {
    min-height: 7rem;
}

/* Styling for the cards in the info page */
.who-section .card,
.location .card {
    width: 24rem;
    padding: 20px;
}

.temporary {
    padding-bottom: 80px;
}

.location {
    max-width: 1000px;
    padding: 30px;
    margin: 0 75px 75px 50px;
}

/* Styling for the comment section */
.comment-section {
    padding-top: 50px;
}

.comment-format,
.comment-form {
    max-width: 700px;
}

.comment-form {
    margin: 10px 10px 50px 50px;
    padding: 30px;
}

/* Removing underlines from card links */
a.card-body {
    text-decoration: none;
}

/* Styling all of the form labels */
label {
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Styling for form inputs */
input {
    padding: 5px 15px;
}

.summer-editor {
    width: 100%;
}

/* Styling the article filter page */
.filtering {
    margin-bottom: 100px;
}

/* Styling the form submit buttons */
.submit-btn {
    margin-top: 30px;
}

/* Styling for the gallery section */
.image-cards {
    max-width: 400px;
    padding: 10px;
    margin-left: 20px;
}

.image-cards img {
    max-height: 250px;
}

.gallery-section {
    padding-bottom: 50px;
    margin-bottom: 130px;
    margin-top: 50px;
}

/* Styling for the footer */
footer {
    margin-top: auto;
}

.copyright,
.contact {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

.contact i {
    color: rgb(4, 25, 40);
    font-size: 2rem;
    padding: 0 10px;
}

.contact a {
    text-decoration: none;
}

.contact i:hover {
    color: rgb(17, 106, 170);
}

/* Media queries for large screens */
@media screen and (max-width: 1400px) {
    .article-section,
    .sign-in,
    .comment-form,
    .who-section,
    .location {
        width: 100%;
        margin-left: 2px;
    }
}

/* Media queries for large to medium screen sizes */
@media screen and (max-width: 900px) {

    body {
        font-size: 1rem;
    }

    textarea {
        width: 500px;
    }

    .verse {
        margin: 75px 10px;
    }

    .verse-text {
        font-size: 1.5rem;
    }
}

/* Media queries for medium screen sizes */
@media screen and (max-width: 650px) {

    .intro-text {
        margin-top: 200px;
    }

    .logo strong {
        font-size: 0.6rem;
    }

    span img {
        width: 75px;
        height: 75px;
    }

    #balloon-img {
        width: 400px;
    }

    .what-is-text {
        min-width: 16rem;
    }

    .verse {
        margin: 50px 10px;
    }

    textarea {
        width: 400px;
    }

    .submit-btn,
    .page-link,
    .filter-link,
    .post-link {
        font-size: 0.8rem;
    }

    .comments {
        padding: 10px;
    }

    .copyright,
    .contact {
        margin: 20px auto;
    }

    i.fa-brands {
        font-size: 1.5rem;
    }
    
    .foot-logo {
        margin-top: 10px;
    }

}

/* Media queries for small screen sizes */
@media screen and (max-width: 460px) {

    h2 {
        font-size: 1.15rem;
    }

    h3, 
    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    .logo strong {
        font-size: 0.4rem;
    }

    .verse,
    .verse-text {
        font-size: 0.7rem;
        width: 270px;
    }

    .intro-text {
        padding: 20px 30px;
        margin-top: 200px;
        margin-bottom: 50px;
    }    

    .who a {
        width: 300px;
    }

    .article-box {
        margin: 20px 0;
    }

    span img {
        width: 50px;
        height: 50px;
        margin-top: 30px;
    }

    #balloon-img {
        width: 280px;
    }

    textarea {
        width: 280px;
    }

    .contact i {
        padding-top: 10px;
    }
}

/* Media queries for very small screen sizes */
@media screen and (max-width: 400px) {

    .image-cards {
        margin-left: 0;
    }

    .page-link {
        font-size: 0.6rem;
    }
}

/* Media queries for very large screen sizes */
@media screen and (min-width: 1600px) {

    .article-box,
    .what-do {
        margin: 10px 30px;
    }

    footer {
        font-size: 1.3rem;
    }

    .contact i {
        font-size: 2.5rem;
    }

    .page-link,
    .filter-link,
    .post-link {
        margin-bottom: 40px;
    }
}