{% extends "base.html" %}
{% load static %}
{% block title %} Server Error {% endblock %}
{% block content %}
<!-- Page for error 500 -->
<div class="text-bg-danger text-center grid gap-3 error-pages">
    <div class="p-2">
        <i class="fa-solid fa-triangle-exclamation"></i> There was an internal server error.
    </div>
    <div class="p-2">
        <a href="{% url 'home' %}" aria-label="Link to return home" class="btn btn-dark" role="button">Return Home</a>
    </div>
</div>
{% endblock %}