{% extends "base.html" %}
{% load static %}
{% block title %} Who We Are {% endblock %}
{% block content %}

<div class="who-section text-bg-light">
    <h2> Who We Are</h2>
    {% for info in object_list %}
    <div class="col card text-bg-info bg-gradient" style="width: 18rem">
        <img src="{{ info.image.url }}" class="card-img-top" alt="Profile picture of member">
        <div class="card-body">
            <h5 class="card-title"> {{ info.first_name }} {{ info.last_name}}</h5>
            <h6 class="card-subtitle">{{ info.job_title }}</h6>
            <p class="card-text">{{ info.about }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="location text-bg-light">
    <h2>Our Offices</h2>
    {% for loc in location %}
    <div class="col card text-bg-secondary bg-gradient" style="width: 18rem">
        <div class="card-body">
            <h4 class="card-title">{{ loc.name }}</h4>
            <p class="card-text">{{ loc.street_name }}</p>
            <p class="card-text">{{ loc.city }}</p>
            <p class="card-text">{{ loc.post_code }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}