{% extends "base.html" %}
{% load static %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="bg-light bg-gradient article-section">
{% include 'includes/messages.html' %}
    <div class="article-format">
        <h3> {{ article.title }} </h2>
            <h4> by Release Eritrea
        </h3>
        <h5> {{ article.created_on }} </h4>

            {{ article.content | safe }}

    </div>
    {% if user.is_staff %}
    <div>
        <a href="{% url 'edit-article' article.slug %}" class="link-primary">Edit article</a>
    </div>
    <div>
        <a href="{% url 'delete' article.slug %}" class="link-danger">Delete article</a>
    </div>
    {% endif %}
    {% if is_fave %}
    <div>
        <a href="{% url 'fave-add' article.slug %}">Remove from favorites 
        <i>class="fa-solid fa-star link-primary"></i></a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'fave-add' article.slug %}">Add to favorites <i class="fa-solid fa-star link-primary"></i></a>
    </div>
    {% endif %}
    <div class="comment-section">
    <h4> Comments:</h3>

        {% for comment in comments %}
        <div class="card comment-format">
            <div>Written by {{ comment.user }}</div>
            <div>{{ comment.created_on }}</div>
            <div> {{ comment.content | safe }} </div>
        </div>

        {% endfor %}
    </div>
</div>
{% if commented %}
<div class="alert alert-success" role="alert">
    Your comment is awaiting approval.
</div>
{% else %}
{% if user.is_authenticated %}

<div class="comment-form bg-light bg-gradient">
    <h5>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-dark submit-btn">Submit</button>
        </form>
</div>
{% endif %}
{% endif %}
{% endblock %}