{% extends "base.html" %}
{% load static %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Detailed page for selected article -->
<section class="bg-light bg-gradient article-section">
   {% include 'includes/messages.html' %}
   <article class="article-format">
      <h3> {{ article.title }} </h3>
      <h5> by Release Eritrea</h5>
      <div class="post-dates">
         <div> Posted on {{ article.created_on }}</div>
         <div> Updated on {{ article.updated_on }}</div>
      </div>
      <div>{{ article.content | safe }}</div>
   </article>
   {% if user.is_staff %}
   <div>
      <a href="{% url 'edit-article' article.slug %}" aria-label="Link to the edit article form" class="link-primary">Edit article</a>
   </div>
   <div>
      <a href="{% url 'delete' article.slug %}" aria-label="Link to the delete article form" class="link-danger">Delete article</a>
   </div>
   {% endif %}
   {% if user.is_authenticated %}
   {% if is_fave %}
   <div>
      <a href="{% url 'fave-add' article.slug %}" aria-label="Link to the remove from favorites form" class="link-success">
         Remove from favorites <i class="fa-solid fa-circle-minus"></i>
      </a>
   </div>
   {% else %}
   <div>
      <a href="{% url 'fave-add' article.slug %}" aria-label="Link to the add to favorites form" class="link-success">
         Add to favorites <i class="fa-solid fa-heart"></i>
      </a>
   </div>
   {% endif %}
   {% endif %}
   <!-- Comments under the article -->
   <div class="comment-section">
      <h4> Comments:</h4>
      <div class="comments">
         {% for comment in comments %}
         <div class="comment-format">
            <div class="text-decoration-underline">Written by {{ comment.user }}</div>
            <div class="text-decoration-underline"><em>Posted on {{ comment.created_on }}</em></div>
            <div class="text-decoration-underline">Subject: {{ comment.subject}}</div>
            <div>{{ comment.content | safe }}</div>
            <br>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
{% if user.is_authenticated %}
<!-- Comment form for the above article -->
<section class="comment-form bg-light bg-gradient">
   <h4>Leave a comment:</h4>
   <p>Posting as: {{ user.username }}</p>
   <form method="post" style="margin-top: 1.3em;">
      {{ comment_form | crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-dark submit-btn">Submit</button>
   </form>
</section>
{% endif %}
{% endblock %}