{% extends "base.html" %}
{% load static %}
{% block title %} Delete Article {% endblock %}
{% block content %}
<!-- Form to delete selected article -->
<section class="text-bg-dark bg-gradient article-section">
    <div class="article-format">
        <form method="POST" action="{% url 'delete' article.slug %}">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ article }}"?</p>
            <a href="{% url 'home' %}" class="btn btn-light">No</a>
            <button class="btn btn-danger" type="submit">Yes</button>
        </form>
    </div>
</section>
{% endblock %}