{% extends "base.html" %}
{% load static %}
{% block title %} Delete Article {% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="text-bg-dark bg-gradient article-section" >
<div class="article-format">
<form method="POST" action="{% url 'delete' article.slug %}">
{% csrf_token %}
<h3>Are you sure you want to delete "{{ article }}"?</h2>
<a href="/" class="btn btn-light">No</a>
<button class="btn btn-danger" type="submit">Yes</button>
</form>
</div>
</div>
{% endblock %}