{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="row hero-image"> 
        HELLO CAN ANYONE HEAR ME
    </section>
    <section>
       <h2>WHAT WE DO</h2>
    </section>
       <h2>PRESS RELEASES</h2>
       {% for article in object_list %}

       <a href="{% url 'article_detail' article.slug %}"><h3> {{ article.title }} </h3></a>

       <p> Author: {{ article.author.all }} </p>

       <p> {{ article.excerpt }} </p>

       
       {% endfor %}
    </section>
    <section>
        
    </section>
{% endblock %}